# PostgreSQL connection string
DATABASE_URL=""

# Port chạy local (Mặc định FastAPI là 8000)
PORT=8000

# Supabase Storage configuration
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="videos"
# Optional if you want to use anon key access instead of the service role key
# SUPABASE_ANON_KEY="sb_publishable_CfnJkZza3_CmhTS72LSYIw_ZTbTzWDH"

# YouTube OAuth configuration
YOUTUBE_CLIENT_ID=""
YOUTUBE_CLIENT_SECRET=""
YOUTUBE_REDIRECT_URI=""
