fastapi
uvicorn
playwright
prisma
psycopg2-binary
python-dotenv
pyahocorasick
email-validator
bcrypt
gunicorn
edge-tts
python-slugify
cloakbrowser==0.4.11
python-multipart
onnxruntime
phonemizer
vietnormalizer
