# Link kết nối MongoDB Atlas (Dùng link bạn đã cung cấp)
MONGODB_URI=mongodb+srv://admin_web_truyen:290599@bemain.shalbdz.mongodb.net/web_truyen?appName=BeMain

# Port chạy local (Mặc định FastAPI là 8000)
PORT=8000
MONGODB_DB_NAME=web_truyen