# Link này bạn lấy từ nút "Get connection string" trên MongoDB Atlas
# Nhớ thay <db_username> và <db_password> bằng User bạn tạo ở mục Database Access
# Thêm /web_truyen vào trước dấu ? để đặt tên cho Database
MONGODB_URI="mongodb+srv://admin_web_truyen:290599@bemain.shalbdz.mongodb.net/web_truyen?appName=BeMain"

# Dán cái mã loằng ngoằng bạn vừa copy từ lệnh openssl vào đây
AUTH_SECRET="P6dw16kYbjLPq9Jc12k8dwWfd7soEUfyv2de8DMhPw0="
NEXT_PUBLIC_CRAWLER_URL=http://127.0.0.1:8000